# NOTE: This file is auto generated by OpenAPI Generator 7.0.1 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule MicrosoftGraph.Api.AuditLogsProvisioningObjectSummary do
  @moduledoc """
  API calls for all endpoints tagged `AuditLogsProvisioningObjectSummary`.
  """

  alias MicrosoftGraph.Connection
  import MicrosoftGraph.RequestBuilder

  @doc """
  Create new navigation property to provisioning for auditLogs

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `microsoft_graph_provisioning_object_summary` (MicrosoftGraphProvisioningObjectSummary): New navigation property
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audit_logs_create_provisioning(Tesla.Env.client, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary.t, keyword()) :: {:ok, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary.t} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def audit_logs_create_provisioning(connection, microsoft_graph_provisioning_object_summary, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auditLogs/provisioning")
      |> add_param(:body, :body, microsoft_graph_provisioning_object_summary)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Delete navigation property provisioning for auditLogs

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `provisioning_object_summary_id` (String.t): The unique identifier of provisioningObjectSummary
  - `opts` (keyword): Optional parameters
    - `:"If-Match"` (String.t): ETag

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audit_logs_delete_provisioning(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def audit_logs_delete_provisioning(connection, provisioning_object_summary_id, opts \\ []) do
    optional_params = %{
      :"If-Match" => :headers
    }

    request =
      %{}
      |> method(:delete)
      |> url("/auditLogs/provisioning/#{provisioning_object_summary_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Get provisioning from auditLogs

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `provisioning_object_summary_id` (String.t): The unique identifier of provisioningObjectSummary
  - `opts` (keyword): Optional parameters
    - `:"$select"` ([String.t]): Select properties to be returned
    - `:"$expand"` ([String.t]): Expand related entities

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audit_logs_get_provisioning(Tesla.Env.client, String.t, keyword()) :: {:ok, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary.t} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def audit_logs_get_provisioning(connection, provisioning_object_summary_id, opts \\ []) do
    optional_params = %{
      :"$select" => :query,
      :"$expand" => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/auditLogs/provisioning/#{provisioning_object_summary_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  List provisioningObjectSummary
  Get all provisioning events that occurred in your tenant, such as the deletion of a group in a target application or the creation of a user when provisioning user accounts from your HR system.  This API is available in the following national cloud deployments.

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:"$top"` (integer()): Show only the first n items
    - `:"$skip"` (integer()): Skip the first n items
    - `:"$search"` (String.t): Search items by search phrases
    - `:"$filter"` (String.t): Filter items by property values
    - `:"$count"` (boolean()): Include count of items
    - `:"$orderby"` ([String.t]): Order items by property values
    - `:"$select"` ([String.t]): Select properties to be returned
    - `:"$expand"` ([String.t]): Expand related entities

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummaryCollectionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audit_logs_list_provisioning(Tesla.Env.client, keyword()) :: {:ok, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummaryCollectionResponse.t} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def audit_logs_list_provisioning(connection, opts \\ []) do
    optional_params = %{
      :"$top" => :query,
      :"$skip" => :query,
      :"$search" => :query,
      :"$filter" => :query,
      :"$count" => :query,
      :"$orderby" => :query,
      :"$select" => :query,
      :"$expand" => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/auditLogs/provisioning")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummaryCollectionResponse},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Get the number of the resource

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:"$search"` (String.t): Search items by search phrases
    - `:"$filter"` (String.t): Filter items by property values

  ### Returns

  - `{:ok, integer()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audit_logs_provisioning_get_count2f99(Tesla.Env.client, keyword()) :: {:ok, Integer.t} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def audit_logs_provisioning_get_count2f99(connection, opts \\ []) do
    optional_params = %{
      :"$search" => :query,
      :"$filter" => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/auditLogs/provisioning/$count")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", false},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Update the navigation property provisioning in auditLogs

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `provisioning_object_summary_id` (String.t): The unique identifier of provisioningObjectSummary
  - `microsoft_graph_provisioning_object_summary` (MicrosoftGraphProvisioningObjectSummary): New navigation property values
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audit_logs_update_provisioning(Tesla.Env.client, String.t, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary.t, keyword()) :: {:ok, MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary.t} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def audit_logs_update_provisioning(connection, provisioning_object_summary_id, microsoft_graph_provisioning_object_summary, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/auditLogs/provisioning/#{provisioning_object_summary_id}")
      |> add_param(:body, :body, microsoft_graph_provisioning_object_summary)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphProvisioningObjectSummary},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end
end
