# NOTE: This file is auto generated by OpenAPI Generator 7.0.1 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule MicrosoftGraph.Api.DeviceManagementDeviceCompliancePolicyDeviceStateSummary do
  @moduledoc """
  API calls for all endpoints tagged `DeviceManagementDeviceCompliancePolicyDeviceStateSummary`.
  """

  alias MicrosoftGraph.Connection
  import MicrosoftGraph.RequestBuilder

  @doc """
  Delete navigation property deviceCompliancePolicyDeviceStateSummary for deviceManagement

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:"If-Match"` (String.t): ETag

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec device_management_delete_device_compliance_policy_device_state_summary(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def device_management_delete_device_compliance_policy_device_state_summary(connection, opts \\ []) do
    optional_params = %{
      :"If-Match" => :headers
    }

    request =
      %{}
      |> method(:delete)
      |> url("/deviceManagement/deviceCompliancePolicyDeviceStateSummary")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Get deviceCompliancePolicyDeviceStateSummary
  Read properties and relationships of the deviceCompliancePolicyDeviceStateSummary object.

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:"$select"` ([String.t]): Select properties to be returned
    - `:"$expand"` ([String.t]): Expand related entities

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphDeviceCompliancePolicyDeviceStateSummary.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec device_management_get_device_compliance_policy_device_state_summary(Tesla.Env.client, keyword()) :: {:ok, MicrosoftGraph.Model.MicrosoftGraphDeviceCompliancePolicyDeviceStateSummary.t} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def device_management_get_device_compliance_policy_device_state_summary(connection, opts \\ []) do
    optional_params = %{
      :"$select" => :query,
      :"$expand" => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/deviceManagement/deviceCompliancePolicyDeviceStateSummary")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphDeviceCompliancePolicyDeviceStateSummary},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Update deviceCompliancePolicyDeviceStateSummary
  Update the properties of a deviceCompliancePolicyDeviceStateSummary object.

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `microsoft_graph_device_compliance_policy_device_state_summary` (MicrosoftGraphDeviceCompliancePolicyDeviceStateSummary): New navigation property values
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphDeviceCompliancePolicyDeviceStateSummary.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec device_management_update_device_compliance_policy_device_state_summary(Tesla.Env.client, MicrosoftGraph.Model.MicrosoftGraphDeviceCompliancePolicyDeviceStateSummary.t, keyword()) :: {:ok, MicrosoftGraph.Model.MicrosoftGraphDeviceCompliancePolicyDeviceStateSummary.t} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def device_management_update_device_compliance_policy_device_state_summary(connection, microsoft_graph_device_compliance_policy_device_state_summary, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/deviceManagement/deviceCompliancePolicyDeviceStateSummary")
      |> add_param(:body, :body, microsoft_graph_device_compliance_policy_device_state_summary)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphDeviceCompliancePolicyDeviceStateSummary},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end
end
