# NOTE: This file is auto generated by OpenAPI Generator 7.0.1 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule MicrosoftGraph.Api.IdentityProtectionServicePrincipalRiskDetection do
  @moduledoc """
  API calls for all endpoints tagged `IdentityProtectionServicePrincipalRiskDetection`.
  """

  alias MicrosoftGraph.Connection
  import MicrosoftGraph.RequestBuilder

  @doc """
  Create new navigation property to servicePrincipalRiskDetections for identityProtection

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `microsoft_graph_service_principal_risk_detection` (MicrosoftGraphServicePrincipalRiskDetection): New navigation property
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_protection_create_service_principal_risk_detections(
          Tesla.Env.client(),
          MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection.t(),
          keyword()
        ) ::
          {:ok, MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection.t()}
          | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t()}
          | {:error, Tesla.Env.t()}
  def identity_protection_create_service_principal_risk_detections(
        connection,
        microsoft_graph_service_principal_risk_detection,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:post)
      |> url("/identityProtection/servicePrincipalRiskDetections")
      |> add_param(:body, :body, microsoft_graph_service_principal_risk_detection)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Delete navigation property servicePrincipalRiskDetections for identityProtection

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `service_principal_risk_detection_id` (String.t): The unique identifier of servicePrincipalRiskDetection
  - `opts` (keyword): Optional parameters
    - `:"If-Match"` (String.t): ETag

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_protection_delete_service_principal_risk_detections(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) ::
          {:ok, nil}
          | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t()}
          | {:error, Tesla.Env.t()}
  def identity_protection_delete_service_principal_risk_detections(
        connection,
        service_principal_risk_detection_id,
        opts \\ []
      ) do
    optional_params = %{
      :"If-Match" => :headers
    }

    request =
      %{}
      |> method(:delete)
      |> url(
        "/identityProtection/servicePrincipalRiskDetections/#{service_principal_risk_detection_id}"
      )
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Get servicePrincipalRiskDetection
  Read the properties and relationships of a servicePrincipalRiskDetection object. This API is available in the following national cloud deployments.

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `service_principal_risk_detection_id` (String.t): The unique identifier of servicePrincipalRiskDetection
  - `opts` (keyword): Optional parameters
    - `:"$select"` ([String.t]): Select properties to be returned
    - `:"$expand"` ([String.t]): Expand related entities

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_protection_get_service_principal_risk_detections(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) ::
          {:ok, MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection.t()}
          | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t()}
          | {:error, Tesla.Env.t()}
  def identity_protection_get_service_principal_risk_detections(
        connection,
        service_principal_risk_detection_id,
        opts \\ []
      ) do
    optional_params = %{
      :"$select" => :query,
      :"$expand" => :query
    }

    request =
      %{}
      |> method(:get)
      |> url(
        "/identityProtection/servicePrincipalRiskDetections/#{service_principal_risk_detection_id}"
      )
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  List servicePrincipalRiskDetections
  Retrieve the properties of a collection of servicePrincipalRiskDetection objects. This API is available in the following national cloud deployments.

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:"$top"` (integer()): Show only the first n items
    - `:"$skip"` (integer()): Skip the first n items
    - `:"$search"` (String.t): Search items by search phrases
    - `:"$filter"` (String.t): Filter items by property values
    - `:"$count"` (boolean()): Include count of items
    - `:"$orderby"` ([String.t]): Order items by property values
    - `:"$select"` ([String.t]): Select properties to be returned
    - `:"$expand"` ([String.t]): Expand related entities

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetectionCollectionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_protection_list_service_principal_risk_detections(Tesla.Env.client(), keyword()) ::
          {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t()}
          | {:ok,
             MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetectionCollectionResponse.t()}
          | {:error, Tesla.Env.t()}
  def identity_protection_list_service_principal_risk_detections(connection, opts \\ []) do
    optional_params = %{
      :"$top" => :query,
      :"$skip" => :query,
      :"$search" => :query,
      :"$filter" => :query,
      :"$count" => :query,
      :"$orderby" => :query,
      :"$select" => :query,
      :"$expand" => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/identityProtection/servicePrincipalRiskDetections")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetectionCollectionResponse},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Get the number of the resource

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:"$search"` (String.t): Search items by search phrases
    - `:"$filter"` (String.t): Filter items by property values

  ### Returns

  - `{:ok, integer()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_protection_service_principal_risk_detections_get_count1bc5(
          Tesla.Env.client(),
          keyword()
        ) ::
          {:ok, Integer.t()}
          | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t()}
          | {:error, Tesla.Env.t()}
  def identity_protection_service_principal_risk_detections_get_count1bc5(connection, opts \\ []) do
    optional_params = %{
      :"$search" => :query,
      :"$filter" => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/identityProtection/servicePrincipalRiskDetections/$count")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", false},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Update the navigation property servicePrincipalRiskDetections in identityProtection

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `service_principal_risk_detection_id` (String.t): The unique identifier of servicePrincipalRiskDetection
  - `microsoft_graph_service_principal_risk_detection` (MicrosoftGraphServicePrincipalRiskDetection): New navigation property values
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_protection_update_service_principal_risk_detections(
          Tesla.Env.client(),
          String.t(),
          MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection.t(),
          keyword()
        ) ::
          {:ok, MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection.t()}
          | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t()}
          | {:error, Tesla.Env.t()}
  def identity_protection_update_service_principal_risk_detections(
        connection,
        service_principal_risk_detection_id,
        microsoft_graph_service_principal_risk_detection,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:patch)
      |> url(
        "/identityProtection/servicePrincipalRiskDetections/#{service_principal_risk_detection_id}"
      )
      |> add_param(:body, :body, microsoft_graph_service_principal_risk_detection)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.MicrosoftGraphServicePrincipalRiskDetection},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end
end
