# NOTE: This file is auto generated by OpenAPI Generator 7.0.1 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule MicrosoftGraph.Api.PoliciesActions do
  @moduledoc """
  API calls for all endpoints tagged `PoliciesActions`.
  """

  alias MicrosoftGraph.Connection
  import MicrosoftGraph.RequestBuilder

  @doc """
  Invoke action updateAllowedCombinations
  Update the allowedCombinations property of an authenticationStrengthPolicy object. To update other properties of an authenticationStrengthPolicy object, use the Update authenticationStrengthPolicy method. This API is available in the following national cloud deployments.

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `authentication_strength_policy_id` (String.t): The unique identifier of authenticationStrengthPolicy
  - `identity_conditional_access_authentication_strength_policies_authentication_strength_policy_update_allowed_combinations_request` (IdentityConditionalAccessAuthenticationStrengthPoliciesAuthenticationStrengthPolicyUpdateAllowedCombinationsRequest): Action parameters
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, MicrosoftGraph.Model.IdentityConditionalAccessAuthenticationStrengthPoliciesAuthenticationStrengthPolicyUpdateAllowedCombinations2XxResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec policies_authentication_strength_policies_authentication_strength_policy_update_allowed_combinations(
          Tesla.Env.client(),
          String.t(),
          MicrosoftGraph.Model.IdentityConditionalAccessAuthenticationStrengthPoliciesAuthenticationStrengthPolicyUpdateAllowedCombinationsRequest.t(),
          keyword()
        ) ::
          {:ok,
           MicrosoftGraph.Model.IdentityConditionalAccessAuthenticationStrengthPoliciesAuthenticationStrengthPolicyUpdateAllowedCombinations2XxResponse.t()}
          | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t()}
          | {:error, Tesla.Env.t()}
  def policies_authentication_strength_policies_authentication_strength_policy_update_allowed_combinations(
        connection,
        authentication_strength_policy_id,
        identity_conditional_access_authentication_strength_policies_authentication_strength_policy_update_allowed_combinations_request,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:post)
      |> url(
        "/policies/authenticationStrengthPolicies/#{authentication_strength_policy_id}/updateAllowedCombinations"
      )
      |> add_param(
        :body,
        :body,
        identity_conditional_access_authentication_strength_policies_authentication_strength_policy_update_allowed_combinations_request
      )
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX",
       MicrosoftGraph.Model.IdentityConditionalAccessAuthenticationStrengthPoliciesAuthenticationStrengthPolicyUpdateAllowedCombinations2XxResponse},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end

  @doc """
  Invoke action resetToSystemDefault
  Reset any changes made to the default configuration in a cross-tenant access policy back to the system default. This API is available in the following national cloud deployments.

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec policies_cross_tenant_access_policy_default_reset_to_system_default(
          Tesla.Env.client(),
          keyword()
        ) ::
          {:ok, nil}
          | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t()}
          | {:error, Tesla.Env.t()}
  def policies_cross_tenant_access_policy_default_reset_to_system_default(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/policies/crossTenantAccessPolicy/default/resetToSystemDefault")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end
end
