# NOTE: This file is auto generated by OpenAPI Generator 7.0.1 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule MicrosoftGraph.Api.SearchActions do
  @moduledoc """
  API calls for all endpoints tagged `SearchActions`.
  """

  alias MicrosoftGraph.Connection
  import MicrosoftGraph.RequestBuilder

  @doc """
  Invoke action query
  Runs the query specified in the request body. Search results are provided in the response. This API is available in the following national cloud deployments.

  ### Parameters

  - `connection` (MicrosoftGraph.Connection): Connection to server
  - `search_query_request` (SearchQueryRequest): Action parameters
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, MicrosoftGraph.Model.SearchQuery2XxResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec search_query(Tesla.Env.client, MicrosoftGraph.Model.SearchQueryRequest.t, keyword()) :: {:ok, MicrosoftGraph.Model.SearchQuery2XxResponse.t} | {:ok, MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError.t} | {:error, Tesla.Env.t}
  def search_query(connection, search_query_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/search/query")
      |> add_param(:body, :body, search_query_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {"2XX", MicrosoftGraph.Model.SearchQuery2XxResponse},
      {"4XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError},
      {"5XX", MicrosoftGraph.Model.MicrosoftGraphODataErrorsODataError}
    ])
  end
end
